.pagination {
  background-color: rgb(150, 140, 209);
}

.bg-color {
  background-color: aquamarine;
  border: 3px solid red !important;
}

code {
  background-color: lightgray;
  padding: 5px;
  border-radius: 3px;
}

a {
  cursor: pointer;
  color: #7751d1;
  text-decoration: none;
}
