.TableQL {
  background-color: transparent;
  width: 100%;
  margin: 0.5rem 0;
  text-align: left;
  padding: 0 0.4rem;
  border-collapse: collapse;
  display: table;
  border-spacing: 2px;
}

.TableQL-thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.TableQL-thead-th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.TableQL-thead-th-sort {
  cursor: pointer;
}

.TableQL-thead-th-sort:hover {
  background-color: #f1f3f5;
}

.TableQL-tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

tbody .TableQL-tr:hover {
  background-color: #f1f3f5;
}

.TableQL-thead-th {
  text-align: inherit;
  font-weight: bold;
}

.TableQL-tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.TableQL-td,
.TableQL-thead-th {
  padding: 0.69rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  display: table-cell;
  vertical-align: inherit;
}

/* PAGINATION */
.PaginationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.PaginationContainer button {
  color: black;
  float: left;
  padding: 8px 16px;
  margin: 0;
  text-decoration: none;
  border: 1px solid #ddd;
  outline: 0;
  background-color: white;
}

.PaginationContainer button.active {
  background-color: gray;
  color: white;
  border: 1px solid gray;
}

.PaginationContainer button:hover:not(.active) {
  background-color: #ddd;
}

.PaginationContainer button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.PaginationContainer button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.PaginationContainer button:disabled {
  background-color: lightgray;
}
/* ========== */
